<h1><%= @ice_cream.flavor%>  </h1>

<% if @ice_cream.image.attached? %>
  <%= image_tag url_for(@ice_cream.image) %>
<% end %>

<h2> <%= @ice_cream.brand.name %> </h2>
<div>
  <p><%= @ice_cream.description %></p>
</div>